@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP|Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary: #d2b4de;
}
.content {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
header {
  width: 100%;
  height: 250px;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.image-profile {
  width: 200px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
}
.image-profile img {
  width: 100%;
}
.name {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.8em;
  line-height: 2em;
}
.name .names {
  font-weight: 500;
}
.name .last-name {
}
main {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.left {
  width: 35%;
  padding: 0 30px;
}
.contacts {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px;
}
.contacts .contact {
  align-items: center;
  margin-bottom: 15px;
}
.contacts .contact p {
  display: inline;
  font-family: "Poppins", sans-serif;
}
.contacts .contact a {
  font-family: "Poppins", sans-serif;
  color: #000;
  text-decoration: none;
}
.contacts .contact a:hover {
  text-decoration: underline;
}
.contact {
  display: flex;
  align-items: center;
}
.icon {
  display: inline;
  width: 25px;
  margin-right: 10px;
}
.subtitulo {
  font-family: "Noto Sans JP", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}
.line {
  width: 100%;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
}
.parrafo {
  font-family: "Poppins", sans-serif;
}
.box {
  width: 100%;
  margin-bottom: 15px;
}
.vinetas {
  width: 80%;
  margin-left: 15%;
}
.dos {
  width: 80%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
}
.dos ul {
  width: 50%;
}
ul {
  font-family: "Poppins", sans-serif;
}
.right {
  width: 65%;
  padding-right: 30px;
}
table {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
}
.fecha {
  font-size: 12px;
}
.curso {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  display: block;
}
.by {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}
.inline {
  display: inline;
}
.instructor {
  font-family: "Noto Sans JP", sans-serif;
  color: #696969;
  font-size: 14px;
}
.link {
  color: #000;
  text-decoration: none;
}
table tr td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
table tr td:nth-child(1) {
  width: 20%;
}

/* responsive */
@media screen and (max-width: 1000px) {
  .content {
    width: 100%;
    margin: 0;
  }
  .name {
    font-size: 1.5em;
  }
  table {
    overflow-x: auto;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 200px;
  }
  .image-profile {
    width: 150px;
  }
  .name {
    font-size: 1em;
  }
  main {
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: center; */
  }
  .contacts {
    width: 100%;
    margin: 0;
  }
  .left {
    width: 92%;
    padding: 0 4%;
  }
  .right {
    width: 92%;
    padding: 0 4%;
  }
  table {
    width: 100%;
  }

  table tr td:nth-child(2) {
    width: 80%;
  }
}
